/* @layer demo { */
    [popover] { 
        width: 720px; 
        max-width: calc(100dvw - 4lh); 
        max-height: calc(100dvh - 4lh); 
        padding: 1lh; 
    }
    
    :is(location-input, :host:has(output:empty)) {
        .location-trigger span:nth-child(3) { display: none; }
        .reset-location { display: none; } /* hide reset button if there's an empty output */
    }
    :is(location-input, :host:has(output:not(:empty))) {
        .location-trigger span:nth-child(1) { display: none; }
    }
    location-input,
    :host {
        .location-trigger span:nth-child(2) { display: none; }
    }
/* } */