/* @layer demo { */
lazy-modal { 
    width: 720px; 
    max-width: calc(100dvw - 4lh); 
    max-height: calc(100dvh - 4lh); 
    padding: 1lh; 
}

#location-wrapper {
    @supports (position-area: bottom) {
        position-area: bottom; 
        margin-block: 1lh; 
    }
}


/* :is(location-input, .dom-root):has(output:empty) .reset-location { display: none; } */

.reset-location { display: none; }

.location-trigger {
    span:nth-child(2) { display: none; }
    span:nth-child(3) { display: none; }
}

location-input[has-location], 
:host([has-location]) {
    .reset-location { display: unset; } 
    .location-trigger {
        border: none; /* probably forces a refresh in Safari, otherwise the stuff below doesn't work */
        span:nth-child(1) { display: none; }
        span:nth-child(3) { display: unset; }
    }
}
/* :is(location-input, .dom-root) .location-trigger span:nth-child(2) { display: none; } */
/* } */