<script type="module" src="./components/lazy-modal/lazy-modal.js"></script>

<lazy-modal popover
    id="location-wrapper"
    triggers=".location-trigger"
    close-button
    inner-styles="../location-input/style.css"
>
    <!-- <button class="geo-locate" type="button">
        Auto-detect
    </button>
    <button class="map-trigger" type="button">
        Pick manually
    </button> -->

    <h2>Input Your Location</h2>

    <p>
        <button class="reset-location" onclick="this.closest('[popover]')?.hidePopover();" type="button">
            <span aria-hidden="true">❌</span> <span>Reset Location</span>
        </button>
    </p>

    <location-cards>
        <location-card class="automatic | clickable-parent">
            <card-content>
                <big>Auto-detect</big>
                <small>Grant location permission</small>
            </card-content>
            <card-action>
                <button class="geo-locate | clickable-element button" type="button">
                    <span aria-hidden="true">✅</span><span>Allow</span>
                </button>
            </card-action>
        </location-card>
        <p class="separator">— OR —</p>
        <location-card class="manual | clickable-parent">
            <card-content>
                <big>Manually</big>
                <small>Pick from the map</small>
            </card-content>
            <card-action>
                <button class="map-trigger | clickable-element button" type="button">
                    <span aria-hidden="true">📌</span><span>Map</span>
                </button>
            </card-action>
        </location-card>
    </location-cards>

</lazy-modal>

<!-- map-picker https://github.com/nonsalant/map-picker/ -->
<lazy-modal popover
    id="map-wrapper"
    triggers=".map-trigger"
    close-button
    inner-content="../map-picker/map-picker.html"
    inner-styles="../map-picker/map-picker.css"
    inner-scripts="../map-picker/map-picker.js"
></lazy-modal>