* {
    box-sizing: border-box;
}

lazy-modal { 
    width: 720px; 
    max-width: calc(100dvw - 4lh); 
    max-height: calc(100dvh - 4lh); 
    padding: 1lh; 
}

#location-wrapper {
    @supports (position-area: bottom) {
        max-width: min(19lh, 100dvw - 4lh);
        /* margin-inline: -1lh; */
        margin-block: .5lh;
        position-area: block-end span-inline-end;
        position-try: flip-block, flip-inline, flip-block flip-inline;
        &::backdrop { backdrop-filter: brightness(.90); }
    }
}

#map-wrapper {
    @supports (corner-shape: squircle) {
        border-radius: 3lh / 4.5lh;
        border-top-left-radius: 3lh;
        border-top-right-radius: 3lh;
    }
}

.location-trigger {
    span:nth-child(2) { display: none; }
    span:nth-child(3) { display: none; }
}

location-input[has-location], 
:host([has-location]) {
    .location-trigger {
        span:nth-child(1) { display: none; }
        span:nth-child(3) { display: unset; }
    }
}