:root,
:host {
    --back-out: linear(0 0%,0.1935 4.37%,0.3671 8.83%,
    0.521 13.38%,0.6557 18.04%,0.7716 22.82%,
    0.869 27.73%,0.9488 32.81%,1.0111 38.08%,
    1.0512 42.81%,1.0792 47.75%,1.0953 52.97%,
    1.1 58.55%,1.0956 63.36%,1.0838 68.73%,
    1.0119 90.98%,1.0029 95.69%,1 100%);
    --surface-inset-400: inset 0 var(--inset-offset, 1px) 0 0 light-dark(#ffffffc0, #aaaaaa40);
    --surface-inset-200: inset 0 var(--inset-offset, 1px) 0 0 light-dark(#ffffff60, #aaaaaa20);
	--surface-inset: inset 0 var(--inset-offset, 1px) 0 0 light-dark(#ffffff, #aaaaaa);
    --inset-offset: 2px;
	@media (prefers-color-scheme: dark) { --inset-offset: 1px; }
}

* {
    box-sizing: border-box;
}

lazy-modal { 
    width: 720px; 
    max-width: calc(100dvw - 4lh); 
    max-height: calc(100dvh - 4lh); 
    padding: 1lh; 
}

#location-wrapper {
    @supports (position-area: bottom) {
        max-width: min(19lh, 100dvw - 4lh);
        /* margin-inline: -1lh; */
        margin-block: .5lh;
        position-area: block-end span-inline-end;
        position-try: flip-block, flip-inline, flip-block flip-inline;
        &::backdrop { backdrop-filter: brightness(.90); }
    }
}

#map-wrapper {
    @supports (corner-shape: squircle) {
        border-radius: 3lh / 4.5lh;
        border-top-left-radius: 3lh;
        border-top-right-radius: 3lh;
    }
}

.location-trigger {
    span:nth-child(2) { display: none; }
    span:nth-child(3) { display: none; }
}

location-input[has-location], 
:host([has-location]) {
    display: block; /* Needed for the :host([attribute]) selector to work in Safari (9 Feb 2026) */
    .location-trigger {
        span:nth-child(1) { display: none; }
        span:nth-child(3) { display: unset; }
    }
}