<!-- <script type="module" src="./components/lazy-modal/lazy-modal.js"></script> -->
<!-- <script type="module">
    console.log(import.meta.resolve('./'));
    console.log(import.meta.url);
</script> -->

<lazy-modal popover
    id="location-wrapper"
    triggers=".location-trigger"
    inner-styles="../../lib/elements/buttons.css,
                ../../lib/elements/corner-shape.css,
                ../../lib/elements/general.css,"
>
 
    <h2>Input Your Location</h2>

    <location-cards>
        <location-card class="automatic | clickable-parent">
            <card-content>
                <big>Auto-detect</big>
                <small>Grant location permission</small>
            </card-content>
            <card-action>
                <button class="geo-locate | clickable-element button" type="button">
                    <span aria-hidden="true">✅</span><span>Allow</span>
                </button>
            </card-action>
        </location-card>
        <p class="separator">— OR —</p>
        <location-card class="manual | clickable-parent">
            <card-content>
                <big>Manually</big>
                <small>Pick from the map</small>
            </card-content>
            <card-action>
                <button class="map-trigger | clickable-element button" type="button">
                    <span aria-hidden="true">📌</span><span>Map</span>
                </button>
            </card-action>
        </location-card>
    </location-cards>

    <div class="button-container">
        <button class="reset-location invert margin-block" type="button">
            <!-- <span aria-hidden="true" class="invert">❌</span> -->
            <span>Reset Location</span>
        </button>
    </div>

</lazy-modal>

<!-- map-picker https://github.com/nonsalant/map-picker/ -->
<lazy-modal popover
    id="map-wrapper"
    triggers=".map-trigger"
    trigger-host="#location-wrapper"
    inner-content="../map-picker/map-picker.html"
    inner-styles="../map-picker/map-picker.css,
                ../../lib/elements/buttons.css,
                ../../lib/elements/corner-shape.css,
                ../../lib/elements/general.css,"
    inner-scripts="../map-picker/map-picker.js"
></lazy-modal>