.reset-location.reset-location.reset-location { display: none; }

location-input[has-location], 
:host([has-location]) {
    .reset-location { display: unset; }
}

lazy-modal, :host  {
    container: cards / inline-size;
}

location-input,
lazy-modal,
:host {
    /* display: block; */
    /* container: location-input / inline-size; */
    container-type: inline-size;
    font-family: system-ui, sans-serif;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* background: green;  */


    kbd {
        font-size: 0.9em;
        font-size: 90%;
        /* font-weight: bold; */
        border: solid 1px #88888880;
        padding-inline: 0.5ch;
        border-radius: 3px;
    }

    big {
        font-weight: bold;
        line-height: 1;
        margin-top: 1px;
    }

    small {
        font-weight: normal;
        font-size: 75%;
        line-height: 1.25;
    }

    .invert {
        filter: invert(1) hue-rotate(180deg);
    }

    @media not print { .print-only { display: none; } }
    @media print { .no-print { display: none; } }
    
    /**/

    /* Clickable parent */
    clickable-parent,
    .clickable-parent { 
        /* --back-out: linear(...); already defined in lazy-modal.scoped.css */

        position: relative;
        isolation: isolate;
        cursor: pointer;

        /* Parent filters & transitions */
        /**/
        transition: scale 0.4s var(--back-out), filter 0.3s var(--back-out);
        &:has(.clickable-element:hover) {
            filter: brightness(1.015);
            filter: brightness(1.025);
            /* scale: 1.01; */
            transition-duration: .1s;
        }
        &:has(.clickable-element:active) {
            filter: brightness(.98);
            scale: .99;
        }
        /**/

        /* Child element */
        .clickable-element {
            &::after {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                /* This makes text selectable but un-clickable: */
                /* z-index: -1; */
                touch-action: manipulation;
            }

            /* &:hover:not(:has(::after:hover)) {
                outline: solid 1px red !important;
            } */

            /* Any filters applied to this element will
                cause bugs: no click event + hover glitch */
            /* (You can filter the parent instead—see above) */
            & {
                filter: none !important; 
                transform: none !important; scale: none !important;
                translate: none !important; rotate: none !important;
            }
        }

    }

    /**/

    /* Cards */

    /* Container of the Cards Wrapper */
    /* *:has(> * > location-card) { */
    /* *:has(> location-cards),
    &:host(> location-cards) {
        container: cards / inline-size;
        background: red;
    } */

    /* Cards Wrapper */
    location-cards {
        display: flex;
        gap: 1lh;

        @container cards (width < 600px) {
            flex-wrap: wrap;
        }
    }

    /* Location Cards (specific Cards Wrapper) */
    location-cards {
        -webkit-font-smoothing: antialiased;
        /* padding-inline: .25lh; */
        transition: all .3s var(--back-out);
        /* outline: dashed 2px transparent; */
        outline-offset: .25lh; 
        gap: .5lh;
        /* margin-block: 1lh; */
    }

    location-card {
        /* min-height: 3.75lh; */
        background-color: #eaeaea;
        background-color: #eaeaeaa0;
        background-color: light-dark(#eaeaeaa0, #2a2a2aa0);
        background-color: light-dark(#dadadaf0, #2a2a2aa0);

        /* shiny cursor */
        background-attachment: fixed;
        background-image: radial-gradient(
            circle at var(--x, 0%) var(--y, -100%),
            #ffffffbf,
            #ffffff40 5rem
        );
        background-image: radial-gradient(
            circle at var(--x, 0%) var(--y, -100%),
            light-dark(#ffffffbf, #ffffff20),
            light-dark(#ffffff40, #ffffff10) 5rem
        );
        /**/

        border: solid 1px #dadada;
        border: solid 1px #dadada80;
        border: solid 1px light-dark(#dadada80, #3a3a3a80);
        /* border-radius: 5px; */
        padding: 0.5lh 0.75lh;
        gap: 0.5lh;
        width: 100%;
        width: 100%;
        max-width: 20em;
        /* max-width: min(100%, 20em); */
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--surface-inset-200);

        @container cards (650px < width) {
            text-align: right;
            &:nth-child(1){
                .button { flex-direction: row-reverse; }
            } 
            &:nth-child(3) {
                flex-direction: row-reverse;
                text-align: left;
            }
        }

        @container cards (600px < width < 900px) {
            flex-wrap: wrap;
        }

        @container cards (width < 600px) {
            flex-wrap: wrap;
            & + .separator { width: 100%; }
        }

        & + .separator {
            display: grid; 
            align-items: center; 
            text-wrap: nowrap; 
            font-weight: bold; 
            justify-content: center;
            margin-block: 0;
        }

        &[data-variation=no-card] {
            background: none;
            padding: 0;
            border: 0;
            display: grid;
            /* align-content: center; */
            /* justify-content: end; */
        }

        & > :first-child {
            flex: 1;
            display: grid;
            gap: .1lh;
        }

        ul {
            margin: 0;
            font-size: 80%;
            font-size: smaller;
            padding-inline-start: .75lh;
        }
    }

    /* Last child (location-card) takes up whole space if total items is odd */
    /* location-card:nth-child(2n + 1):last-child { grid-column: 1 / -1; } */

}