<h2>Select Your Location</h2>
<p class="js-hidden-if-no-kbd">
    <small>Use the <kbd>+</kbd> and <kbd>-</kbd> keys
    to zoom in/out. Press <kbd>H</kbd> to view 
    all keyboard shortcuts</small>
</p>

<map-picker 
    map-autofocus 
    confirm=".confirm-location" 
    reset=".reset-location" 
    initial-coordinates="39.8283,-98.5795" 
    initial-zoom="4"
    map-host="location-input"
></map-picker>

<div class="map-controls button-container">
    <button popovertarget="map-wrapper" popovertargetaction="hide" type="button">
        Cancel
    </button>
    <button class="reset-location" type="button">
        <!-- <span aria-hidden="true">❌</span> -->
        <span>Reset</span>
    </button>
    <button class="confirm-location invert" type="button">
        <!-- <span aria-hidden="true" class="invert">✅</span> -->
        <span>Confirm</span>
    </button>
</div>

<p class="leaflet-attribution">
    © <a target="_blank" title="OpenStreetMap" href="https://www.openstreetmap.org/copyright">OSM</a> contributors |
    Geocoding by <a target="_blank" title="Open-source geocoding with OpenStreetMap data" href="https://nominatim.org">Nominatim</a> |
    <a target="_blank" title="A JavaScript library for interactive maps" href="https://leafletjs.com">Leaflet</a>
</p>