/* Map styles */
map-picker {
    background: #eee;
    outline-offset: 1px;
    -webkit-font-smoothing: antialiased;
    display: block;
    width: 100%;
    min-height: 400px;
    margin-block: .75lh;

    .leaflet-control-zoom {
        user-select: none;
    }

    .leaflet-popup-content {
        max-width: min(24ch, calc(100vw - 10lh));
        margin: .5lh 1lh;
    }
	
    /* Deprecated (moved to .leaflet-attribution outside of the map):
    .leaflet-bottom {
        left: 0px; right: auto;
        color: #666; font-size: 90%;
        a { color: inherit; text-decoration: none; }
        a:hover { text-decoration: underline; }
    } */
	
    a:has(> .leaflet-attribution-flag):first-child { 
        display: none;
        & + [aria-hidden="true"] {
            display: none;
        }
    }
}

.leaflet-attribution {
    color: light-dark(#666, #aaa);
    font-size: 66%;
    line-height: 1.25;
    margin-block-end: -.25lh;
    a { color: inherit; text-decoration: none; }
    a:hover { text-decoration: underline; }
}