<h2>Select Your Location</h2>
<p>
    Use the <kbd>+</kbd> and <kbd>-</kbd> keys
    to zoom in and out. Press <kbd>H</kbd> to view all shortcuts.
</p>

<map-picker 
    map-autofocus 
    confirm=".confirm-location" 
    reset=".reset-location" 
    initial-coordinates="39.8283,-98.5795" 
    initial-zoom="4"
    --shadow-root-host="location-input"
></map-picker>

<div class="map-controls button-container">
    <button popovertarget="map-wrapper" popovertargetaction="hide" type="button">
        Cancel
    </button>
    <button class="reset-location" type="button">
        <!-- <span aria-hidden="true">❌</span>-->
        <span>Reset</span>
    </button>
    <button class="confirm-location" type="button">
        <!-- <span aria-hidden="true">✅</span> -->
        <span>Confirm</span>
    </button>
</div>