<h2>Select Your Location</h2>
<p>
    Click on the map to place a pin at your location. Use <kbd>+</kbd> and <kbd>-</kbd> 
    to zoom in and out (press <kbd>H</kbd> to view all keyboard shortcuts).
</p>

<map-picker 
    map-autofocus 
    confirm=".confirm-location" 
    reset=".reset-location" 
    initial-coordinates="39.8283,-98.5795" 
    initial-zoom="4"
    shadow-root-host="location-input"
></map-picker>

<div class="map-controls button-container">
    <button popovertarget="map-wrapper" popovertargetaction="hide" type="button">
        Cancel
    </button>
    <button class="reset-location" onclick="
        document.dispatchEvent(new Event('map-picker-reset'));
        document.querySelector('#location-wrapper')?.hidePopover();
        document.querySelector('location-input')?.shadowRoot?.querySelector('#location-wrapper').hidePopover();
    " type="button">
        <span aria-hidden="true">❌</span> <span>Reset</span>
    </button>
    <button class="confirm-location" type="button">
        <span aria-hidden="true">✅</span> <span>Confirm</span>
    </button>
</div>